<% include includes/head.ejs %>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img id="logo" src="/img/logo.png">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Matcha</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Accueil</a></li>
                <li><a href="/profile">Profil</a></li>
                <li><a href="/connect">Connections</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/notif"><span class="glyphicon glyphicon-exclamation-sign mdp" id="to_read"></span>
                        Notifications</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-off mdp"></span> Déconnexion</a></li>
            </ul>
        </div>
    </div>
</div>
<center>
    <div class="jumbotron back search">
        <form action="/home" method="post">
            <a href="#"><label for="tri" onclick="show_hide('tri')"><font color="#FF0040">Ordre de
                        tri</font></label></a><br/>
            <div class="btn-group btn-group-justified radio" id="tri" style="display:none">
                <label class="radio-inline"><input type="radio" name="tri" value="loc">Les plus proches</label>
                <label class="radio-inline"><input type="radio" name="tri" value="age">Les plus jeunes</label>
                <label class="radio-inline"><input type="radio" name="tri" value="revage">Les plus agés</label>
                <label class="radio-inline"><input type="radio" name="tri" value="pop">Les plus
                    populaires</label>
                <label class="radio-inline"><input type="radio" name="tri" value="tag">Tags en communs</label>
            </div>
            <a href="#"><label for="age" onclick="show_hide('age')"><font color="#FF0040">Tranches
                        d'age</font></label></a><br/>
            <div class="btn-group btn-group-justified radio" id="age" style="display:none">
                <label class="radio-inline"><input type="radio" name="age" value="18">18 - 25</label>
                <label class="radio-inline"><input type="radio" name="age" value="26">26 - 35</label>
                <label class="radio-inline"><input type="radio" name="age" value="36">36 - 45</label>
                <label class="radio-inline"><input type="radio" name="age" value="46">46 - 55</label>
                <label class="radio-inline"><input type="radio" name="age" value="56">56+</label>
            </div>
            <a href="#"><label for="loc" onclick="show_hide('loc')"><font
                            color="#FF0040">Distance</font></label></a><br/>
            <div class="btn-group btn-group-justified radio" id="loc" style="display:none">
                <label class="radio-inline"><input type="radio" name="loc" value="1000">Moins de 1km</label>
                <label class="radio-inline"><input type="radio" name="loc" value="10000">Moins de 10km</label>
                <label class="radio-inline"><input type="radio" name="loc" value="50000">Moins de 50km</label>
                <label class="radio-inline"><input type="radio" name="loc" value="100000">Moins de 100km</label>
                <label class="radio-inline"><input type="radio" name="loc" value="500000">Moins de 500km</label>
            </div>
            <a href="#"><label for="tag" onclick="show_hide('tag')"><font color="#FF0040">Tags en
                        commun</font></label></a><br/>
            <div class="btn-group btn-group-justified radio" id="tag" style="display:none">
                <label class="radio-inline"><input type="radio" name="tag" value="1">Au moins 1 tag</label>
                <label class="radio-inline"><input type="radio" name="tag" value="2">Au moins 2 tags</label>
                <label class="radio-inline"><input type="radio" name="tag" value="3">3 tags</label>
            </div>
            <br/>
            <button type="submit" class="btn btn-default">Recherche</button>
        </form>
    </div>
    <% if (tri == "loc") { %>
    <p>Les plus proches</p>
    <% } %>
    <% if (tri == "age") { %>
    <p>Les plus jeunes</p>
    <% } %>
    <% if (tri == "revage") { %>
    <p>Les plus agés</p>
    <% } %>
    <% if (tri == "pop") { %>
    <p>Les plus populaires</p>
    <% } %>
    <% if (tri == "tag") { %>
    <p>Les tags en communs</p>
    <% } %>
    <br/>
    <% for (var i in people) { %>
    <a href="/profile/<%= people[i].login %>"><img class="prof_pict" src="/<%= people[i].prof_pict %>"></a>
    <p><%= people[i].login %> - <%= people[i].age %> ans - <%= people[i].dist %> km</p>
    <br/>
    <% } %>
</center>

<script>
    function show_hide(elem) {
        var div = document.getElementById(elem);
        if (div.style.display == "block") {
            div.style.display = "none";
        }
        else {
            div.style.display = "block";
        }
    }
</script>
<% include includes/footer.ejs %>